<ion-view view-title="游戏中心">
    <ion-pane class="messaging-view">
<ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tab.find">返回</a>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
            <a class="button button-clear icon ion-ios-more"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-tabs class="tabs-top tabs-striped tabs-light tabs-color-active-dark" >
    <ion-tab title="推荐">
        <ion-view>
          <ion-content>
              <br>
              <div class="gameImg">
                    <div class="col"><img src="img/77.png" alt=""><br>搜索</div>
                    <div class="col"><img src="img/78.png" alt=""><br>礼包</div>
                    <div class="col"><img src="img/79.png" alt=""><br>H5游戏</div>
                    <div class="col"><img src="img/80.png" alt=""><br>预约</div>
                    <div class="col"><img src="img/81.png" alt=""><br>排行榜</div>      
              </div>
              <br>
              <br>
              <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/">
                <img src="img/87.png">
                <h2>野生皮卡丘！点击捕捉</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
              <div>
                  <div>
                        <a class="item item-icon-left" href="#">
                          <i class="iconfont icon-damuzhi"  style="font-size:20px;position:absolute;left:15px;"></i>
                                今日推荐
                        </a>
                  </div>
                  <img  style="width:99%;margin-left:2px;" src="img/83.png" alt="">
              </div>
              <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/">
                <img src="img/82.png">
                <h2>我叫MT世界</h2>
                <p>一场说走就走的奇幻旅行！</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
              <div>
                    <a class="item item-icon-left" href="#">
                            <i class="iconfont icon-damuzhi"  style="font-size:20px;position:absolute;left:15px;"></i>
                                  今日推荐
                          </a>
                  <img style="width:99%;margin-left:2px;" src="img/84.png" alt="">
              </div>
              <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/">
                <img src="img/85.png">
                <h2>店长也疯狂H5</h2>
                <p>挂机开店得娃娃，。。。。。</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
             </ion-item>
            <div>
                <div>
                    
                        <a class="item item-icon-left" href="#">
                                <i class="iconfont icon-xiaoxi1" style="font-size:20px;position:absolute;left:15px;"></i>
                                游戏头条
                              </a>
                              <p style="font-size:15px;margin-left:9px;">金州勇士电竞战队成立 3支NBA球队加入英雄联盟...</p>
                              <img style="width:99%;margin-left:2px;" src="img/86.png" alt="">
                </div>
                                  
            </div>
          </ion-content>
        </ion-view>
    </ion-tab>
    <ion-tab title="视频">
            <ion-view>
              <ion-content>
              </ion-content>
            </ion-view>
        </ion-tab>
    <ion-tab title="头条">
            <ion-view>
                <ion-content>
                </ion-content>
            </ion-view>
        </ion-tab>
</ion-view >