<ion-view view-title="采购审批">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <a class="button button-clear icon ion-chevron-left" ui-sref="add">
                返回
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-top tabs-striped tabs-light tabs-color-active-dark">
        <ion-tab title="未生成计划" ui-sref="qiandao.tabs.approval">
            <ion-nav-view name="tab-approval"></ion-nav-view>
        </ion-tab>
        <ion-tab title="已生成计划" ui-sref="qiandao.tabs.approved">
            <ion-nav-view name="tab-approved"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>