<div class=" item-input-inset">
     <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="搜索昵称">
      </label>
</div>
<div class="detail">
 <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>  
      <ion-slide>  
        <div class="box banner"><img src="img/22.png" /> </div>  
   </ion-slide>  
   <ion-slide>  
        <div class="box banner"><img src="img/23.png" /> </div>  
   </ion-slide>  
   <ion-slide on-slide-changed="slideHasChanged(index)">  
        <div class="box banner"><img src="img/24.png" /> </div>  
   </ion-slide>  
 </ion-slide-box>  
</div> 
<ion-item  class="item-remove-animate item-avatar item-icon-right" style="min-height:2px;">
        <h3 style="position:absolute;top:5px;left:10px;">推荐关注</h3>
   <i class="icon ion-chevron-right icon-accessory" style="color:orange"></i>
</ion-item>
<ion-list>
   <ion-item  ng-repeat="information in informations| limitTo: 2" class="item item-thumbnail-left">
        <img ng-src="{{information.img}}" style="border-radius:50%">
           <h2 style="display:inline;font-weight:bold">{{information.name}}</h2>
        <p>{{information.content}}</p>
   </ion-item>     
</ion-list>
<ion-item  class="item-remove-animate item-avatar item-icon-right" style="min-height:2px;">
        <h3 style="position:absolute;top:5px;left:10px;">找人导航页</h3>
           <i class="icon ion-chevron-right icon-accessory" style="color:orange"></i>
</ion-item>
   <div class="detail_img">
        <div class="col"><img src="img/73.png" alt=""></div>
        <div class="col"><img src="img/74.png" alt=""></div>
        <div class="col"><img src="img/76.png" alt=""></div>
        <div class="col"><img src="img/75.png" alt=""></div>
   </div>
<ion-item  class="item-remove-animate item-avatar item-icon-right" style="min-height:2px;">
     <h3 style="position:absolute;top:5px;left:10px;">视频红人推荐</h3>
     <i class="icon ion-chevron-right icon-accessory" style="color:orange"></i>
</ion-item>    