<ion-view view-title="">
        <ion-nav-bar class="bar-light"> 
          <ion-nav-buttons side="left">
              <a class="button icon-left ion-chevron-left button-clear button-dark" nav-direction="back" ui-sref="tab.user">我</a>
              </a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-clear icon ion-ios-more" ng-click="show3()"></a>
              </ion-nav-buttons>
        </ion-nav-bar>
            <ion-content>
            <div style="background:url(img/70.JPG) no-repeat;height:200px">
                <div style="width:96px;height:96px;margin: 0 auto;border-radius:50%;overflow:hidden;">
                    <img id="imageFile" src="img/39.JPG" style="width:96px;height:96px;" ng-click="add()">
                </div>
                <p style="color:azure;position:absolute;left:49%;">V</p>
                <p style="color:azure;position:absolute;left:35%;top:50%">关注&nbsp;132&nbsp;&nbsp;|</p>                
                <p style="color:azure;position:absolute;left:52%;top:50%">&nbsp;&nbsp;粉丝&nbsp;35</p>
                <p style="color:azure;font-size:13px;position:absolute;left:44%;top:60%">&nbsp;编辑简介</p>                                          
            </div>
            </ion-content>   
</ion-view >